BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
ColumnLimit: 160
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
